<script src="../../libraries/jquery/dist/jquery.js"></script>
<script src="../../bootstrap/assets/javascripts/bootstrap.js"></script>

	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}
	
	</body>
</html>
