<h3>Aligned links</h3>
<p>Alternatively, you can align each link to the sides:</p>
<nav>
	<ul class="pager">
    	<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
		<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  	</ul>
</nav>
<h3>Optional disabled state</h3>
<p>Pager links also use the general <code>.disabled</code> utility class from the pagination.</p>
<nav>
	<ul class="pager">
	    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
	    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>

