<form class="navbar-form {{ navbarFormClass }}" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="{{ placeholder }}">
  </div>
  {% include "atoms-button" %}
</form>
