<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #222;"></span>
		<span class="sg-label">#222</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">#333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555;"></span>
		<span class="sg-label">#555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777;"></span>
		<span class="sg-label">#777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">#eee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #337ab7;"></span>
		<span class="sg-label">#337ab7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5cb85c;"></span>
		<span class="sg-label">#5cb85c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5bc0de;"></span>
		<span class="sg-label">#5bc0de</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #f0ad4e;"></span>
		<span class="sg-label">#f0ad4e</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #d9534f;"></span>
		<span class="sg-label">#d9534f</span>
	</li>
</ul>