<div class="alert {{ alertClass }}" role="alert">
	{{ alertText }}
	{% if dismissableAlert %}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{% endif %}
</div>
